/* Application layout */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.App > main {
  flex-grow: 1;
}

/* Navbar */
.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Footer */
.Footer {}